html,
body {
  height: 100%;
}

body {
  display: flex;
  text-align: center;
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  color: rgba(var(--bs-emphasis-color-rgb), 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(var(--bs-emphasis-color-rgb), 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--bs-emphasis-color);
  border-bottom-color: var(--bs-emphasis-color);
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1050;
}

.bd-mode-toggle .dropdown-toggle::after {
  display: none;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.check-icon {
  display: none;
  font-size: 1rem;
}

.dropdown-item.active .check-icon {
  display: inline;
}

.navbar-toggler {
  border: 1px solid rgba(var(--bs-emphasis-color-rgb), 0.1);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-emphasis-color-rgb), 0.25);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

[data-bs-theme="light"] .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

[data-bs-theme="dark"] .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (max-width: 767.98px) {
  header > div {
    flex-wrap: wrap;
  }

  .navbar-toggler {
    order: 2;
  }

  .nav-masthead {
    order: 3;
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .nav-masthead .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }

  .nav-masthead .nav-link + .nav-link {
    margin-left: 0;
  }
}
